*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

.row {
    display: flex;
    margin: 0 auto;
}

.col {
    max-width: 100%;
    padding: 2rem;
}

img {
    max-width: 100%;
}

header {
    padding: 40px;
    background-color: #040609;
}

h1 {
    color: #06f3e3;
    margin-bottom: 1.5em;
}

p {
    margin: 0 auto;
    line-height: 20%;
    color: #06f3e3;
}

section {
    background-color: #f5f1b8;
}

