*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.315rem;
}

.hero {
    background-color: #23424A;
    color: #FFF;
    padding: 100px 0;
}

.hero h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.hero p {
    line-height: 1.5rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 1.5em;
}

.hero__text {
    width: 80%;

}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

}

.headerBtn {
    display: inline-block;
    color: #072A2D;
    background-color: #38CFD9;
    padding: 1.4em;
    margin-top: 2em;
    border-radius: 1.5rem;
    border: none;
    font-weight: 900;
  }

  .headerBtn:hover,
  .headerBtn:focus {
    opacity: .75;
  }